@charset "utf-8";

/* 기본(모바일) */
html {
  font-size: 18px;
  text-align: center;
  word-break: break-all;
  overflow-wrap: break-word;
}

body {
  margin: 0;
}

h1 {
  background-color: skyblue;
  color: sienna;
  font-size: 1.5rem;
  margin: 0;
  padding: 20px;
  transition: 0.3s;
}

h1 strong {
  display: block;
}

h2 {
  font-size: 1.4rem;
  background-color: rgb(146, 8, 151);
  color: #fff;
  margin: 0;
  padding: 20px;
}

.container {
  font-weight: bold;
  display: grid;
  /* width: 100%; */
  /* aspect-ratio: 1 / 1; */
  /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-auto-rows: 20vh;
}

.container .box1 {
  background-color: palevioletred;
}

.container .box2 {
  background-color: palegoldenrod;
}

.container .box3 {
  background-color: plum;
}
