@charset "utf-8";
/* 변수선언 */
@import url(./variable.css);

/**** common CSS ****/
body {
  font-family: var(--main--font--ko);
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-overflow: ellipsis;
}
h6 {
  /* section title 안보이게 */
  display: none;
}

.title-box {
  text-align: center;
  line-height: 2;
  margin: 0 12px 100px;
  text-transform: none;
}
.title-box h2 {
  font-family: var(--main--font--en);
  font-size: var(--font--size-h3);
  font-weight: 700;
  position: relative;
}

.title-box h2::after {
  position: absolute;
  display: block;
  width: 10px; height: 2px;
  background-color: #000;
  bottom: 0;left: 50%;
  transform: translateX(-50%);
}
.title-box p {
  font-size: var(--font--size-20);
  font-weight: 100;
}
