@charset "utf-8";

/* font-family: 'Catamaran', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700;800&display=swap');

/* css 변수 선언 */
@import url(./common/cssVariable.css);

/* article title del */
h6 { display: none;}


/**** body 영역 ****/

body {
  font-size: 1rem;
  line-height: 1.7;
  font-family: var(--font-ko);
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
  letter-spacing: 0.5px;
  min-width:380px;
  max-width: 545px;
}


/**** header 영역 ****/

.header_wrapper {
  width: 100%; 
}

header {
  width: 100%; 
  margin: 0 auto;
  padding: 0 12px 0;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
}

/* logo 영역 */

header h1 {
  text-align: center;
}

header h1 .logo {
  width: 80%;
  object-fit: contain;
}

/* navigation 영역 */

header nav {}

header nav .main_menu a {
  display: block;
  width: 50px; height: 50px;
  line-height: 50px;
  text-align: center;
}

header nav .main_menu .svg_bars {
  fill: #464646;
  width: 60%; height: 60%;
  margin: 10px;
}

header nav .sub_menu {
  /* 클릭하면 드롭 되게 바꿔야 함. */
  display: none;
}

/* utill 영역 */

header .utill {
  background-color: #146D63;
  width: 50px; height: 42px;
  line-height: 42px;
  border-radius: 30px;
  text-align: center;
}

header .utill a {
  display: block;
  margin: 0 auto;
}

header .utill  .svg_chat {
  fill: #fff;
}



/**** main 영역 ****/

main {}

/* .sub_ctts / .processTable : h2 설정 */

main .title_bt {
  font-family: var(--font-en);
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
}

main .title_bt h2 {
  padding: 65px 10px 80px;
  box-sizing: border-box;
}

main .title_bt h2::after {
  content: "";
  display: block;
  border-bottom: 3px solid #000;
  width: 65px;
  margin: 10px auto;
}

/* main 1 : main_ctts 메인 컨텐츠 이미지 */

main .main_overlay_bg .main_bg {
  text-indent: -9999px;
  width: 100%; height: 422px;
  background: url(./homepage/hero-1.jpg) no-repeat 50% / cover;
  background: url(./homepage/hero-3.jpg) no-repeat 50% / cover;
}

main .main_ctts {
  position: relative;
}

main .main_arrow {
  width: 100%;

  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
}

main .main_arrow a {
  display: block;
  width: 50px; height: 50px;
  line-height: 50px;
}

main .main_arrow .svg_arr {
  fill:rgba(255, 255, 255, 0.5);
  width: 40%;  height: 40%;
}

/* main 2 : sub_ctts 서브 컨텐츠 이미지 */

.sub_ctts-img {
  width: 100%;
  min-height: 360px;

  position: relative;
}

.sub_ctts-img img {
  width: 90%;
  object-fit: cover;

  display: block;
  margin: 0 auto;

  position: absolute;
  top: 0;  left: 0; right: 0; margin: auto;
}

.sub_ctts .sub_ctts_bt button {
  border: 0;
  background-color: transparent;

  fill: #146D63;
  width: 10px; height: 10px;
  padding: 20px 10px 50px;
  margin-bottom: 10px; 
}

/* main 3 : youtube_ctn youtube 영역 */

main .youtube_ctn {
  /* background-color: #F8F9FA; 
  너무 안보여서 임시 배경색 */
  background-color: #ddd;
  padding-top: 50px;
  padding-bottom: 50px;
}

.youtube_ctn .youtube_wrap {
  width: 90%;
  margin: 0 auto;
}


.youtube_ctn .youtube_wrap h3 {  
  font-family: var(--font-en);
  font-weight: bold;
  font-size: 1.8rem;
  margin: 10px auto 20px;
}

.youtube_ctn .youtube_wrap p {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 20px 5px;
  letter-spacing: normal;
}

.youtube_wrap .video_box .youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.youtube_wrap .youtube_imgBox {
  display: inline-flex;
}

.youtube_wrap .youtube_imgBox li {
}

.youtube_wrap .youtube_imgBox a {
  display: block;
  width: 75px; height: 42px;
  margin: 10px;
}

.youtube_wrap .youtube_imgBox li a .imgBox {
  width: 75px; height: 42px;
  object-fit: cover;
}

/* main 4 : img_ctn 이미지 + 설명 영역 */

.img_ctn .img_wrap1 {
  display: block;
  margin: 50px 10px;
}

.img_ctn .img_wrap1 img {
  width: 90%;
  object-fit: cover;

  display: block;
  margin: 0 auto;
}

.img_ctn section:nth-of-type(2) h3 {
  font-family: var(--font-en);
  font-weight: 800;
  font-size: 2.6rem;
  line-height: 1.2;
  margin: 50px 10px;
}

.img_ctn h3 em {
  color: #fff;
  -webkit-text-stroke: 1px #000;
}

/* img 목록 */
.img_wrap2 ul {
  width: 90%;
  margin: 0 auto;
}

.img_wrap2 li {
  width: 49%; 
  margin: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* gap: 5px 5px; */
}

.img_wrap2 li img {  
  width: 100%;
  object-fit: cover;
}

.img_ctn h4 {
  width: 60%;
  margin: 50px 20px;
  text-align: start;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.2;
}

.img_ctn .img_txtBox li {
}

.img_ctn .img_txtBox li i::before {
  content: "";
}

main .jobVenn_wrap {
  background-color: #146D63;
}

main .processTable {
  /* background-color: #F8F9FA; 
  너무 안보여서 임시 배경색 */
  background-color: #ddd;
}




/**** footer 영역 ****/
footer {
  text-align: center;
  color: #fff;
}
footer .instagram_box {
  height: 230px;
  background-color: #212529;
}

footer .instagram_box p {
  padding: 50px;
  box-sizing: border-box;
}

.instagram_img {
  width: 80%; height: 45px;
  margin: 0 auto;
}

.instagram_img ul {
  width: 100%;
  display: flex;
}

.instagram_img li {
  margin: 5px;
}

.instagram_img li img {
  width: 100%;
  object-fit: cover; 
}

footer .adresBox {
  height: 195px;
  background-color: #1B1B1B;
  padding: 50px;
  box-sizing: border-box;
}