@charset "utf-8";
/* article title del */
h6 { display: none;}


/**** body 영역 ****/
body {
  font-size: 1rem;
  line-height: 1.7;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Malgun Gothic", "Apple Color Emoji", Dotum, 돋움, sans-serif;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
  letter-spacing: 0.5px;
  min-width:380px;
  max-width: 545px;
}


/**** header 영역 ****/
.header_wrapper {
  width: 100%; 
}

header {
  width: 100%; 
  margin: 0 auto;
  padding: 0 12px 0;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo 영역 */
header h1 {
  text-align: center;
}

header h1 .logo {
  width: 80%;
  object-fit: contain;
}
/* navigation 영역 */
header nav {
}

header nav .main_menu a {
  display: block;
  width: 50px; height: 50px;
  line-height: 50px;
  text-align: center;
}

header nav .main_menu .svg_bars {
  fill: #464646;
  width: 60%; height: 60%;
  margin: 10px;
}

header nav .sub_menu {
  /* 클릭하면 드롭 되게 바꿔야 함. */
  display: none;
}

/* utill 영역 */
header .utill {
  background-color: #146D63;
  width: 50px; height: 42px;
  line-height: 42px;
  border-radius: 30px;
  text-align: center;
}

header .utill a {
  display: block;
  margin: 0 auto;
}

header .utill  .svg_chat {
  fill: #fff;
}



/**** main 영역 ****/
main {}

/* .sub_ctts / .processTable : h2 설정 */
main .title_bt {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
}

main .title_bt h2 {
  padding: 65px 10px 80px;
  box-sizing: border-box;
}

main .title_bt h2::after {
  content: "";
  display: block;
  border-bottom: 3px solid #000;
  width: 65px;
  margin: 10px auto;
}

/* main 1 : 메인 컨텐츠 이미지 */
main .main_overlay_bg .main_bg {
  text-indent: -9999px;
  width: 100%; height: 422px;
  background: url(./homepage/hero-1.jpg) no-repeat 50% / cover;
  background: url(./homepage/hero-3.jpg) no-repeat 50% / cover;
}

main .main_ctts {
  position: relative;
}

main .main_arrow {
  width: 100%;

  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
}

main .main_arrow a {
  display: block;
  width: 50px; height: 50px;
  line-height: 50px;
}

main .main_arrow .svg_arr {
  fill:rgba(255, 255, 255, 0.5);
  width: 40%;  height: 40%;
}

/* main 2 : 서브 컨텐츠 이미지 */
.sub_ctts-img {
  width: 100%;
  min-height: 360px;

  position: relative;
}

.sub_ctts-img img {
  width: 90%;
  object-fit: cover;

  display: block;
  margin: 0 auto;

  position: absolute;
  top: 0;  left: 0; right: 0; margin: auto;
}

.sub_ctts .sub_ctts_bt button {
  border: 0;
  background-color: transparent;

  fill: #146D63;
  width: 10px; height: 10px;
  padding: 20px 10px 50px;
  margin-bottom: 10px; 
}

/* main 3 : youtube 영역 */

main .youtube_ctn {
  background-color: #F8F9FA;
}

.youtube_ctn .youtube_wrap {
  width: 90%;
  margin: 0 auto;
}


.youtube_ctn .youtube_wrap h3 {  
  font-size: 1.6rem;
  font-weight: 600;
  margin: 60px auto 20px;
}

.youtube_ctn .youtube_wrap p {
  font-size: 1.2rem;
  font-weight: 300;
}


main .jobVenn_wrap {
  background-color: #146D63;
}

main .processTable {
  background-color: #F8F9FA;
}


/* 일단 이미지 숨김 */
.img_wrap2 {display: none;}


/**** footer 영역 ****/
footer {
  text-align: center;
  color: #fff;
}
footer .instagram_box {
  height: 230px;
  background-color: #212529;
}

footer .instagram_box p {
  padding: 50px;
  box-sizing: border-box;
}

.instagram_img {
  width: 280px; height: 45px;
}

.instagram_img li img {
  /* object-fit: cover; 
  몰라 안되니까 일단 숨겨*/
  display: none;
}

footer .adresBox {
  height: 195px;
  background-color: #1B1B1B;
  padding: 50px;
  box-sizing: border-box;
}