@charset "utf-8";
html {
  scroll-behavior: smooth;
}

/* 스크롤바 가로 크기 */
body::-webkit-scrollbar {
  width: 8px;
}

/* 스트롤바 배경 */
body::-webkit-scrollbar-track {
  background-color: #FFF;
}
/* 스트롤바 핸들 */
body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid red;
  border-radius: 5px;
}
/* 
  vedor prefix
  확정되지 않은 기능을 개발자가 미리 사용할 수 있게 만들어 놓은 약속어.
  브라우저에 내장된 기능을 이 벤더(접두어)를 통해 사용하게 만듦.
  -webkit- :크롬 엣지 웨일
  -o- :오페라
  -moz- :파이어폭스
  -m- :IE <-브라우저가 없어져서 이제 안씀ㅎ
 */

body {
  font-family: 'SpoqaHanSan', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

/* nav */
.global_menu {
  position: fixed;
  top: 0;  left: 0; right: 0; margin: auto;
  /* position 을 썼을 때 좌우 중앙 정렬 방법 */

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;  /* position의 fixed, absolute 와 함께 작성 시 적용X */

  background-color: #ddd;
  border-radius: 0 0 20px 20px;
  
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

.global_menu li {
  width: 20%;
}

.global_menu li a {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
}

.global_menu li:hover a {
  color: #fff;
  background-color: #000;
}

.global_menu li:nth-child(1) a, #box1 {background-color: orange;}
.global_menu li:nth-child(2) a, #box2 {background-color: #ffd000;}
.global_menu li:nth-child(3) a, #box3 {background-color: skyblue;}
.global_menu li:nth-child(4) a, #box4 {background-color: #baebff;}

/* box */
.box {
  font-size: 2rem;
  font-weight: 600;
  height: calc(100vh - 100px);
  padding-top: 100px;
  /* box-sizing: border-box; */
}